* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

img {
	width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

.col-md--4 {
	flex-basis: 32%;
}

.col-md--6 {
	flex-basis: 48%;
}

.col-md--8 {
	flex-basis: 64%;
}

.align-center {
	align-items: center;
	display: flex;
}

.text-secondary {
	color: #373434;
}

.text-center {
	text-align: center;
}

/* CARD CSS */

.card {
	width: fit-content;
	background-color: #ffffff;
	border-radius: 0.6rem;
	padding: 1.5rem;
	line-height: 2rem;
	box-shadow: 0px -1px 12px 3px rgb(0 0 0 / 10%);
	margin: 0 auto;
}

.card-img {
	width: 80%;
}

.card-title {
	font-size: 1.2rem;
	font-weight: 600;
}

.card-title-lg {
	font-size: 1.4rem;
	font-weight: 700;
}

.card-body {
	font-size: 1rem;
	font-weight: 400;
	padding-bottom: 0.5rem;
}

/* BUTTON */
.btn {
	background: #000000;
	color: #ffffff;
	padding: 0.5rem 2rem;
	border-radius: 5px;
	border: 0;
	text-decoration: none;
}

.btn:hover {
	background: #1e1e1e;
}

/* HOME SECTION CSS START */
.home {
	background-color: #e0cabc;
	height: 100vh;
}

.title {
	font-size: 2.2rem;
	font-weight: 400;
	margin-bottom: 1rem;
}
/* HOME SECTION CSS END */

/* MCQ SECTION CSS START */
.mcq {
	background-color: #b0b8ff;
	/* height: 100vh; */
	padding: 2rem 0rem;
}

.mcq-card {
	background-color: #ffffff;
	border-radius: 0.6rem;
	padding: 1.5rem;
	line-height: 2rem;
	box-shadow: 0px -1px 12px 3px rgb(0 0 0 / 10%);
	width: 50%;
	margin: 0 auto;
	margin-top: 1rem;
}

ul {
	list-style-type: none;
}

ul li {
	font-size: 1rem;
}
ul li label {
	cursor: pointer;
}

/* MCQ SECTION CSS END */

/* RESULT SECTION CSS START */
.result {
	background-color: #ffdf64;
	height: 100vh;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
/* RESULT SECTION CSS END */

/* TIME OUT SECTION CSS START */
.time-out {
	background-color: #ff646d;
	height: 100vh;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
/* TIME OUT SECTION CSS END */
