* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

img {
	width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

.col-md--6 {
	flex-basis: 48%;
}

.align-center {
	align-items: center;
	display: flex;
}

.text-secondary {
	color: #373434;
}

.text-center {
	text-align: center;
}

.center {
	text-align: -webkit-center;
}

/* BUTTON */
.btn {
	background: #000000;
	color: #ffffff;
	padding: 0.5rem 2rem;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.btn:hover {
	background: #1e1e1e;
}

/* RESPONSIVE DEVICE */
@media screen and (max-width: 980px) {
	.row {
		display: block;
	}

	.col-md--6 {
		width: 100%;
	}
}
